*{
    margin: 0;
    padding: 0;
}

/*---------------------*/
/* HEADER */
/*---------------------*/
.encabezado {
    height: 100vh;
    width: calc(100%-100px);
    background-image: url(../img/barberia4.jpg);
    background-position: 0px -100px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}
#menu-container {
    position: sticky;
    top:0;
    margin-top: -100px;
}
.menu-container {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    height: 100px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.menu-container .menu {
    height: 100%;
    width: 100%;
    padding: 0 50px;
}
.menu-container .menu-nav {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
.menu-item {
    margin: 0 10px;
    margin-top: 15px;
    line-height: 3;
}
.menu-item a{
    padding: 0 10px;
    text-decoration: none;
    color: white;
}
.menu-item span{
    display: none;
    margin: auto;
    width: 80%;
    height: 2px;
    background-color: #fff;
    transition: .3s;
}
.menu-item:hover{
    opacity: .7;
}
.menu-item:hover span{
    display: block;
}
.menu-item:nth-child(2) span{
    display: block;
}
.encabezado .logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.texto-encabezado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-encabezado .titulo {
    font-family: 'Merriweather', serif;
    color: white ;
    letter-spacing: 1px;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 300;
}
/* 
.fuera {
    background-color: #fff;
} */

/*---------------------*/
/* MAIN */
/*---------------------*/
.container-main {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}
.container-main .superior {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.container-main .superior div {
    position: relative;
}
.container-main .superior div figure {
    position: absolute;
}
.slider {
    opacity: 0;
    transition: .6s ease all;
}
.nuevo {
    opacity: 1;
}
.container-main .texto {
    width: 35%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.container-main .texto .titulo {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.container-main .inferior-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-main .inferior {
    width: 29%;
}
.container-main .inferior img{
    width: 100%;
    margin-bottom: 30px;
}    
.container-main .inferior .texto {
    width: 100%;
}
.container-main .inferior .texto .titulo{
    font-size: 25px;
}
/*---------------------*/
/* SERVICIOS */
/*---------------------*/

.servicios {
    width: 100%;
}
.servicios .titulo {
    height: 150px;
    background-image: url(../img/fondo.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Yantramanav', sans-serif;
}
.servicios .titulo h1{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
}
.servicios .titulo h1 span{
    font-weight: 700;
}
.servicios .titulo p{
    font-size: 20px;
    font-weight: 100;
}
.servicios .tipos {
    display: flex;
    flex-direction: row;
}
.servicios .tipos figure{
    width: 39%;
}
.servicios .tipos figure {
    height: 300px;
    width: 36%;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: .5 ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    font-family: 'Suez One', serif;
}

.servicios .tipos figure:nth-child(1) {
    background-image: url(../img/corte.jpg);
}
.servicios .tipos figure:nth-child(2) {
    background-image: url(../img/afeitado.jpg);
}

.servicios .tipos figure:nth-child(3) {
    background-image: url(../img/arreglo.jpg);
}
.servicios .tipos figure:hover {
    filter: grayscale(0%);
}

/*---------------------*/
/* LOACLIZACION */
/*---------------------*/
.local {
    width: 100%;
}
.local h1 {
    padding: 20px 0;
    text-align: center;
    font-family: 'Suez One', serif;
    font-size: 31px;
}
.local iframe {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}
