*{
    margin: 0;
    padding: 0;
}

/*---------------------*/
/* HEADER */
/*---------------------*/
.encabezado {
    height: 100vh;
    padding-bottom: 40px;
    background-image: url(../img/barberia4.jpg);
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: fixed;
}
.encabezado .responsive {
    width: 100%;
    height: 100%;
}
#menu-container {
    position: sticky;
    top:0;
    margin-top: -100px;
    transition: .4s ease all;
    z-index: 100;
}
.menu-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.menu-container .menu {
    height: 100%;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Suez One', serif;
}
.menu-container .menu .titulo {
    line-height: 4;
    font-family: 'Suez One', serif;
    visibility: hidden;
    padding: 0 15px;
}
.menu-container .menu .titulo-on {
    visibility: visible;
}
.menu-container .menu-nav {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
.menu-container .menu-nav i {
    display: none;
}
.menu-item {
    margin: 0 10px;
    margin-top: 15px;
    line-height: 2;
}
.menu-item a{
    padding: 0 10px;
    text-decoration: none;
    color: white;
}
.menu-item span{
    display: none;
    margin: auto;
    width: 80%;
    height: 2px;
    background-color: #fff;
    transition: .3s;
}
.menu-item:hover{
    opacity: .7;
}
.menu-item:hover span{
    display: block;
}
.menu-item:nth-child(2) span{
    display: block;
}
.menu .icon {
    display: none;
}
.encabezado .logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.texto-encabezado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.texto-encabezado .titulo {
    font-family: 'Merriweather', serif;
    color: white ;
    letter-spacing: 1px;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 300;
}

.fuera {
    background-color: #fff;
    border-bottom: 1px solid gray;
}
/*---------------------*/
/* MAIN */
/*---------------------*/
.container-main {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}
.container-main .superior {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 60px;
    margin-top: 40px;
}
.container-main .superior .sliders {
    position: relative;
    display: flex;
    align-items: center;
    width: 55%;
}
.container-main .superior div figure {
    position: absolute;
    width: 100%;
}
.container-main .superior div figure img{
    width: 100%;
}
.slider {
    opacity: 0;
    transition: .8s ease all;
}
.nuevo {
    opacity: 1;
}
.container-main .texto {
    width: 35%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.container-main .texto .titulo {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Suez One', serif;
}
.container-main .inferior-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-main .inferior {
    width: 29%;
}
.container-main .inferior img{
    width: 100%;
    margin-bottom: 30px;
}    
.container-main .inferior .texto {
    width: 100%;
}
.container-main .inferior .texto .titulo{
    font-size: 25px;
    font-family: 'Suez One', serif;
}
/*---------------------*/
/* SERVICIOS */
/*---------------------*/

.servicios {
    width: 100%;
    padding-top: 60px;
}
.servicios .titulo {
    height: 150px;
    background-image: url(../img/fondo.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicios .titulo h1{
    text-transform: uppercase;
    font-family: 'Suez One', serif;
    font-weight: 100;
    font-size: 25px;
}
.servicios .titulo h1 span{
    font-weight: 700;
    color: gray;
}
.servicios .titulo p{
    font-size: 20px;
    font-weight: 100;
}
.servicios .tipos {
    display: flex;
    flex-direction: row;
}
.servicios .tipos figure {
    height: 300px;
    width: 36%;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: .5s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    font-family: 'Suez One', serif;
}

.servicios .tipos figure:nth-child(1) {
    background-image: url(../img/corte.jpg);
}
.servicios .tipos figure:nth-child(2) {
    background-image: url(../img/afeitado.jpg);
}

.servicios .tipos figure:nth-child(3) {
    background-image: url(../img/arreglo.jpg);
}
.servicios .tipos figure:hover {
    filter: grayscale(0%);
}

/*---------------------*/
/* LOACLIZACION */
/*---------------------*/
.local {
    width: 100%;
}
.local h1 {
    padding: 20px 0;
    text-align: center;
    font-family: 'Suez One', serif;
    font-size: 31px;
}
.local iframe {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

/*---------------------*/
/* Media Querys */
/*---------------------*/
@media screen and (max-width: 1400px) {
    .menu-container .menu .menu-item {
        margin: 15px 0;
    }
}
@media screen and (max-width: 1100px) {
    .servicios .tipos figure {
        height: 200px;
        font-size: 25px;
    }
}
@media screen and (max-width: 770px) {
    .encabezado {
        margin-bottom: 250px;
    }
    .menu-container .menu {
        padding: 0 30px;
    }
    .menu-container .menu-nav{
        flex-direction: column;
        width: 100%;
        position: fixed;
        right: -100%;
        top: 0;
        height: fit-content;
        background-color: #fff;
        transition: .3s ease right;
        border-bottom: 1px solid gray;
    }   
    .menu-container .menu-nav i {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
    .menu-item .item-a{
        color: black;
        /* border-bottom: 1px solid #000; */
    }
    .menu-container .menu .menu-nav .menu-item {
        text-align: center;
    }
    .menu-container .menu .menu-nav .menu-item .span {
        display: none;
    }
    .menu-item:hover span{
        display: none;
    }
    .menu-item:nth-child(2) span{
        display: none;
    }
    .menu-container .icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 30px;
        color: black;
        cursor: pointer;
    }
































    .container-main {
        margin-bottom: 0;
        text-align: center;
    }
    .container-main .superior {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container-main .superior .sliders, .container-main .superior .texto, .container-main .superior figure img {
        width: 100%;
    }
    .container-main .inferior-container {
        flex-direction: column;
    }
    .container-main .inferior-container .inferior {
        width: 100%;
        margin-bottom: 80px;
    }
    .servicios .tipos {
        display: block;
    }
    .servicios .tipos figure {
        width: 100%;
    }
    .local {
        line-height: 0;
    }
    .local h1 {
        margin: 20px 0;
    }
    .local iframe {
        padding: 0;
    }
}
@media screen and (max-width: 660px) {
    .menu-container .menu {
        padding: 0;
    }
    .encabezado {
        margin-bottom: 200px;
    }
    .encabezado .logo {
        position: static;
    }
    .encabezado .responsive {
        padding-top: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    .encabezado .texto-encabezado {
        height: 200px;
    }
    .encabezado .logo img {
        width: 250px;
    }
    .container-main .superior {
        margin-top: 150px;
        margin-bottom: 50px;
    }
    .container-main .superior .sliders img{
        margin-bottom: 50px;
    }
}
